layout {
    pane split_direction="vertical" {
        pane command="nvim" focus=true size="65%"
        
				pane split_direction="horizontal" {
            pane name="Next Server" command="npm run dev" start_suspended=true size="60%"

            pane name="Console"
				}
    }
}
