layout {
    pane split_direction="vertical" {
        pane command="nvim" focus=true size="65%"
        
				pane split_direction="horizontal" {
            pane name="Rails Server" command="rails s" start_suspended=true size="60%"

            pane name="Rails Console" command="rails c" start_suspended=true
				}
    }
}
